.containerSlider{
    max-width: 96.4%;
    right: 0;
    position: absolute;
    bottom: -150px;

}



h2{
    color:white ;
}
 img {
    width:225px;
    height:126px;
    border-radius: 10px;
    margin: 0 4px ;
   
   
}