.main{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
}
.main img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.muturityRating{
    position: absolute;
    right: 0;
    bottom: 100px;
    border-left: 3px solid white;
    padding: 5px 50px 5px 10px ;
   
    background-color: rgba(0, 0, 0, 0.555)
    

}
.muturityRating span{
    width: 30px;
    height: 30px;
    background-color:black;
    color: white;
    font-size: 25px;
    font-weight: bold;
    font-family: 'times-new-roman', serif;
    border-radius: 5px;
    padding:3px
}
.metaLayer{
    position: absolute;
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titleWrapper{
    width: 38rem;
    height: 20rem;
}
.titleWrapper img{
    width: 100%;
    object-fit: scale-down;
}

.supplementalMessage{
    font-size: 2rem;
    font-weight: bold;
    color:white;
    text-shadow: 1px 1px 1px black ;
}
.sinopses{
    font-weight: bold;
    color:white;
    margin: 20px 0 ;
    text-shadow: 1px 1px 1px black ;

}
.buttonsWrapper{
    display: flex;
}
.buttonsWrapper button{
    display: flex;
    border: none;
    padding: 0 20px;
    border-radius:3px;
    align-items: center;
    font-weight: 900;
    transition: opacity .1s;
    
}
.buttonsWrapper button:nth-child(2){
    background-color:rgba(95, 94, 94, 0.493);
    margin-left: 15px;
    color: white;
    
    
}
.buttonsWrapper button:hover{
    
    opacity: .75;

}

.styleMute{
    width: 40px;
    height: 40px;
    border-radius:50%;
   background-color: transparent;
   border: 1.7px solid rgb(94, 94, 94); 

   display: flex;
   align-items: center;
   justify-content: center;

   position: absolute;
   right: 120px;
   bottom: 100px;
   transition:  background-color .1s;
}
.styleMute:hover{
    background-color:rgba(201, 198, 198, 0.5); 

}

.styleMute div{
   color:white;

    display: flex;
   align-items: center;
   justify-content: center;

}